WebService/TopDown/public_html/WEB-INF/wsdl/MyWebService1_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://wizard/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wizard/">
  <xsd:complexType name="sayHello">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sayHelloResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="sayHello" type="ns0:sayHello"/>
  <xsd:element name="sayHelloResponse" type="ns0:sayHelloResponse"/>
</xsd:schema>